.column{

    background-color: #09A7B1 !important;
    color: white !important;
}

.photo_name{
    color: #09A7B1
}

input{
    background-color: #F5F5F5;
}
.inputs_desc {
    background-color: #F5F5F5;

}