@font-face {
    font-family: LeagueSpartan;
    src: url('../css/fonts/LeagueSpartan-VariableFont_wght.ttf');
}

.emphasis_text{

    text-decoration: none;
    color: rgb(2, 140, 150);

}

.emphasis_text:hover{
    color: rgb(1, 178, 190);

}

#body{
    font-family: LeagueSpartan;
    text-align: justify;
}

input{
    border-style: solid;
    border-radius: 7px;
    border-width: 0px;
}

.img_input{

    border-style: solid;
    border-width: 1px;
    border-width: 0px;

}

.big_input{

    width: 600px;
    height: 200px;
    position: relative;
}
.big_input::placeholder{

    position: absolute;
    top: 10px;
    left: 10px;

}