@font-face {
    font-family: LeagueSpartan;
    src: url('../css/fonts/LeagueSpartan-VariableFont_wght.ttf');
}

.emphasis_text{

    text-decoration: none;
    color: rgb(2, 140, 150);

}

.emphasis_text:hover{
    color: rgb(1, 178, 190);

}

#body{
    font-family: LeagueSpartan;
    text-align: justify;
}

input{
    border-style: solid;
    border-radius: 7px;
    border-width: 0px;
}
.inputs_desc{
    overflow-y: auto;
    border-style: none;
    border-radius: 7px;

}
.select{
    width: 270px;
    height: 50px;
}

.img_input input{

    border-style: solid;
    border-width: 1px;
    width: 150px !important;
    height: 50px;

}

.big_input textarea{

    width: 600px;
    height: 200px;
    position: relative;
}
.big_input textarea::placeholder{

    position: absolute;
    top: 10px;
    left: 10px;

}
.inputs_desc::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}

.div_form{

    width: 300px;
    height: 300px;

}