@font-face {
    font-family: LeagueSpartan;
    src: url('../css/fonts/LeagueSpartan-VariableFont_wght.ttf');
}

body{
    font-family: LeagueSpartan;
    margin: 0px;
}

#text_general{
    font-size: 30px;
    text-align: justify;
    padding-left:50px;
    padding-right: 50px;
}

@media(max-width: 600px){
    #text_general{

        font-size: 16px;
        text-align: justify;
        padding-left: 25px;
        padding: 25px;

    } 
}

.big_text{

    text-align: center;
    font-size: 30px;
    color: rgb(5, 201, 214);
}


.links{
    color: rgb(5, 201, 214);
    text-decoration: none;
}

.links:hover{

    color: rgb(2, 140, 150);

}

.title_topic{
    color: rgb(5, 201, 214);
}
.title_sub_topic{
    color: rgb(5, 201, 214);
    text-indent: 30px;
}
.plain_text{
    padding-left: 50px;
    padding-right: 50px;
}