body {
    padding: 4rem;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: #7DCCD8;
    width: 100vw;
    height: 64px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar-logo {
    width: 140px;
    height: 45px;
    margin-right: 1rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li a {
    font-size: 28px;
    color: white;
    text-decoration: none;
    padding: 0 16px;
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-icons {
    display: flex;

}

.navbar i {
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}


.navbar li a::before {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 16px;
    width: 0;
    height: 3px;
    background-color: #006e92;
    transition: width 0.3s ease-in-out;
}

.navbar li a:hover::before {
    width: calc(100% - 32px);
}

.navbar li a.active::before {
    width: calc(100% - 32px);
}

.navbar li a.active {
    color: #003c4f;
    font-weight: bold;
}