@media(max-width: 1057px){

    .inputs_2 input{

        margin-left: 48px;

    }

}

@media(max-width: 670px){

    .inputs input{
        width: 500px;

    }
    .big_input input {
        width: 500px;

    }

}

@media(max-width: 566px){

    .inputs input{
        width: 400px;


    }

    .big_input input {
        width: 400px;

    }
}

@media(max-width: 508px){

    .div_buttons .button_delete{
        margin: 0px !important;

    }

    .div_buttons .button_undo{
        margin-left: 10px !important;

    }
    .div_buttons{
        display:flex !important;   
        justify-content: flex-start !important;    
    }
}



@media(max-width: 466px){

    .inputs input{
        width: 300px;


    }
    .big_input input{
        width: 300px;

    }
}

@media(max-width: 429px){

    .div_buttons .button_undo{
        margin: 0px !important;

    }

    .
    
}

@media(max-width: 398px){

    .profile_image{

        width: 250px;
        height: 250px;
    }
}


/*  {{-- 670x727px --}}
    {{-- 359x727px --}}
    {{-- 330x727px --}}
         508x727px
    {{-- RESPONSIVIDADE VIA MEDIA QUERIES --}} 
    387px
*/