#img_div{
    width: 200px;
    height: 40px;
}

.inputs input{

    width: 600px;
    height: 50px;
}

.inputs_desc{
    height: 300px;
    width: 600px;
}

.inputs_2 input{

    width: 300px;
    height: 50px;
}


/* .categories_field{
    width: 500px;
} */